.delete-table{
    color: #FF4747;
    font-size: 22px;
    cursor: pointer;
}

.preview-image{
    /* padding:10px; */
    width : 100px;
    height : 100px;
    padding : 4px;
    background: #FFFFFF;
border: 1px solid #B0B0B0;
box-sizing: border-box;
margin-bottom:1rem;
}

.preview-image img{
    width : 100px;
    height : 100px;
    padding: 10px;
}