.delete-table{
    color: #FF4747;
    font-size: 22px;
    cursor: pointer;
}

.preview-image{
    /* padding:10px; */
    width : 100px;
    height : 100px;
    padding : 4px;
    background: #FFFFFF;
border: 1px solid #B0B0B0;
box-sizing: border-box;
margin-bottom:1rem;
}

.preview-image img{
    width : 100px;
    height : 100px;
    padding: 10px;
}

.number_inc{
     padding: 2px 5px 0 5px;
     background: #3f3e91;
     color: #FFFFFF;
     border-radius: 2px;
    background: #3f3e91;
    color: #FFFFFF;
    border-radius:2px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.size-custom-input{
    width: 3rem;
    padding: 12px;
    height: 2rem;
}
