@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body{
    margin: 0;
    padding: 0;
}
.tm_button{
    font-size: 15px;
    padding: 5px 23px;
    margin-bottom: 0;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
}

.tm_button:hover{
    color: #FFFFFF;
}

.tm_primary{
    background: #23A7E0;
    color: #FFFFFF;
}

.tm-md{
    width: 7rem;
}


#header{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    padding: 16px 0px;
}

#header .logo{
    margin: 0;
    padding: 0;
}

.nav-menu ul{
    margin: 0 94px 0px 0px;
    padding: 0;
    list-style: none;
}

.nav-menu > ul{
    display: flex;
}

.nav-menu > ul > li{
    position: relative;
    white-space : nowrap;
    padding: 10px 0 10px 64px;
}

.nav-menu a{
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    color: #333333;
    text-decoration:none;
    padding: 0 4px;
}


.second_nav{
    width: 100%;
    position: relative;
    left: 55px;
    display: flex;
    justify-content: space-between;
}

.form-search{
    border: 1px solid #798A96;
    box-sizing: border-box;
    border-radius: 24px;
    font-family: 'Mulish', sans-serif;
    font-size:12px;
    padding: 8px 17px;
}

.form-login{
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 10px 16px;

    border: 1px solid #D2D2D2;
    box-sizing: border-box;
}

.form-login:focus{
    border: 1px solid rgba(35, 167, 224, 1);
    box-shadow: 0 0 5px rgba(35, 167, 224, 1);   
    outline: none;
}

.card_auth img{
    margin-top: 1rem;
}

.auth-social{
    margin-top: 1rem;
}

.auth-social a{
    font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 27px;

color: #23A7E0;
text-decoration: none;
}

.auth-social a:hover{
    color: #23A7E0;
    text-decoration: none;
}

.auth-social span{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #969696;
}

.form-item{
    margin-top: 1rem;
}

.form-auth-content{
    margin-bottom: 2rem;
}

.form-search:focus{
    border: 1px solid rgba(35, 167, 224, 1);
    box-shadow: 0 0 5px rgba(35, 167, 224, 1);   
    outline: none;
}

.form-select-sub-header{
    border: 1px solid #798A96;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    padding: 4px 11px;
    width: 9rem;
}

.form-select-sub-header:focus{
    border: 1px solid rgba(35, 167, 224, 1);
    box-shadow: 0 0 5px rgba(35, 167, 224, 1);   
    outline: none;
}

.icon-search{
    position: absolute;
    bottom: 12px;
    right: 192px;
}

#form-search{
    margin-top: 4px;
}

.cart_icon{
    margin-top: 8px;
}

.wrapper-content{
 margin-top: 6rem;   
}

#hero-section{
    height: 740px;
    width: 100%;
    background: #E7F5FB;
}

.banner-hero{
    padding-top: 12rem;
}

#hero-section h1{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 80px;

/* Primary */

color: #23A7E0;
}

#hero-section p{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
width: 31rem;
/* identical to box height */


color: #333333;
}

.button{
    box-sizing: border-box;
    padding: 10px 24px;
    border-radius: 8px;
}

.button-sm{
    box-sizing: border-box;
    padding: 5px 12px;
    border-radius: 8px;
}

.button-primary{
    background : #23A7E0;
    color: #FCFCFC;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FCFCFC;
}

.button-light{
    background: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #798A96;
}

#hero-section img{
    margin-top: 8rem;
    width:100%;
}

#hero-section svg{
    position: relative;
    bottom: 2px;
    right: 5px;
}

.card-kategori{
    border-radius: 24px;
    height: auto;
    padding: 30px 20px 30px 20px;
    width: 100%;
}

.bg-blue-old{
    background: #23A7E0;
}

.bg-blue-kid{
    background: #56CCF2;
}

#kategori_area{
    position: relative;
    bottom: 10rem;
}

.custom-position{
    position: absolute;
}

.card-kategori h1{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 50px;

color: rgba(255, 255, 255, 0.8);
position: relative;
    bottom: 9rem;
}

.custom-position-button{
    position: relative;
    bottom: 8rem;
}

.section-first{
    margin-bottom: 5rem;
}

.section-list-other{
    margin-top: 10rem;   
    margin-bottom: 6rem;
}

.section-list-belanja{
    margin-top: 3rem;   
    margin-bottom: 6rem;
}   

.section-list-keranjang{
    margin-top: 9rem;
    margin-bottom: 6rem;
}   

#detail_produk{
    background: #F6F8F9;
    border-radius: 8px 0px 0px 8px;
    padding-top: 2rem;
}

#ringkasan_pesanan{
    background: #E7F5FB;
    border-radius: 0px 8px 8px 0px;
    padding: 28px 13px 17px 28px;
}

#ringkasan_pesanan p, #ringkasan_pesanan span, #ringkasan_pesanan label{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 200%;

    color: #333333;
}

#ringkasan_pesanan select{
    border: 1px solid #798A96;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    padding: 8px 11px;
}

#ringkasan_pesanan select:focus{
    border: 1px solid rgba(35, 167, 224, 1);
    box-shadow: 0 0 5px rgba(35, 167, 224, 1);   
    outline: none;
}

#detail_produk span{
    margin-left: 8rem;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    /* or 32px */


    /* Tertiary */

    color: #333333;
}

.section-list-keranjang h1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* Tertiary */

    color: #333333;
}

.section-first h1{
    /* Title */

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;

    /* Tertiary */

    color: #333333;
}

.section-first h3{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 4px;
    
    /* Tertiary */
    
    color: #333333;
}

.card-tml{
    background: #FFFFFF;
    box-shadow: 0px 12.0455px 37.5967px rgba(0, 0, 0, 0.0551985), 0px 5.84789px 18.2525px rgba(0, 0, 0, 0.0445033), 0px 2.86674px 8.94771px rgba(0, 0, 0, 0.0354967), 0px 1.13351px 3.53794px rgba(0, 0, 0, 0.0248015);
    border-radius: 24px;
    padding: 26px 20px;
}

.header_content{
    margin-bottom: 4rem;
}

.content-card span{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #23A7E0;
    text-align: center;
    margin-top: 1rem;
}

.content-card h1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    color: #333333;
    text-align: center;
}

.content-card p{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
line-height: 16px;

color: #333333;
}

.readmore{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Primary */

color: #23A7E0;
}

.card-area{
margin-bottom: 3rem;    
}

#tentang h1{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 80px;

/* Primary */

color: #23A7E0;
}

#tentang p{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 32px */

text-align: justify;

color: #000000;
}

.sub-header{
    background: #E7F5FB;
    padding-top: 17px;
    padding-bottom: 14px;
}

.sub-header-item-1 span{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #23A7E0;
}

.note_item_detail p{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;

    color: #333333;
}

.item_detail{
    display: flex;
}

.item_detail ul{
    list-style: none;
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;


    color: #333333;
}

.note_item_detail{
    width: 14rem;
}

#list-item-keranjang input{
    border: 1px solid #798A96;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    padding: 3px 5px;
    width: 4rem;
}

#list-item-keranjang input:focus{
    border: 1px solid rgba(35, 167, 224, 1);
    box-shadow: 0 0 5px rgba(35, 167, 224, 1);   
    outline: none;
}

.kuantiti{
    /* display : flex; */
    margin-top: 1rem;
}

.group-auto{
    border: 1px solid #798A96;
    box-sizing: border-box;
    border-radius: 4px;
    width: 2rem;
    padding: 1px 3px 1px 9px;
}

.plus_grid{
    position: relative;
    left: -35px;
}

.minus_grid{
    position: relative;
    left: 68px;
    bottom: 26px;
}


.custom_pos{
    position: absolute;
}

.sub_total_keranjang{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;

    color: #333333;
    position: relative;
    left: 7rem;
    top: 11px;
}

footer{
    background: #E7F5FB;
    padding: 30px 10px;
}

footer h1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    /* Tertiary */

    color: #333333;
}

footer ul{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Tertiary */

color: #333333;
list-style: none;
position: relative;
right: 2rem;
}

footer ul li{
    margin-top: 20px;
}

footer p{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Tertiary */

color: #333333;
text-align: center;
}

.follow-medsos{
    position: relative;
    right: 30px;
    margin-top: 20px;
}

.follow-medsos svg{
    margin-left: 2rem;
}

.title-produk-list{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 40px;

/* Secondary */

color: #798A96;
margin-bottom: 1rem;
}

.title-produk-list span{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 40px;
    color: #23A7E0;
}

#testimoni{
    background: rgba(196, 196, 196, 0.1);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.testimonial-content h1{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 14px;

color: #000000;
margin-top: 1rem;
}

.testimonial-content span{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 32px */


/* Secondary */

color: #798A96;
}

.hr_line{
    margin-top: 8px;
    height: 2px;
    width :10rem;
    text-align:center;
    background: rgba(196, 196, 196, 0.42);
}

.testimonial-content p{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #000000;
margin-top: 8px;
}

.testimonial-content img{
    width: 161px;
}

.box-img{
    background: #FFFFFF;
    border: 1px solid #A3A2A2;
    box-sizing: border-box;
    padding: 40px;
    /* height: 388px;
    width : 388px; */
}

#detail_produk img{
    position: relative;
    bottom: 5px;
    width: 30%;
}

#detail_produk h1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 40px;

    /* Primary */

    color: #23A7E0;
}

#detail_produk p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 32px */


    /* Tertiary */

    color: #333333;
}

.card_auth{
    margin-top: 5rem;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    /* border-radius: 25px; */
}

.header_auth{
    background: #23A7E0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
}

.header_auth h1{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

#kontak h1{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    /* Secondary */

    color: #798A96;
}

#kontak h2{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    
    /* Tertiary */
    
    color: #333333;
    margin-top: 2rem;
}

#kontak ul{
    list-style: none;
    font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Tertiary */

color: #333333;
}

#kontak ul li{
    margin-top: 1rem;
}

#kontak form{
    margin-bottom: 2rem;
}

.card-kontak{
    background: #F6F8F9;
    border-radius: 8px;
    padding: 5px 44px;
}

.form-general{
    background: #FFFFFF;

border: 1px solid #798A96;
box-sizing: border-box;
border-radius: 4px;
}

label{
    font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #000000;
}

.row-group{
    margin-top: 32px;
}

.form-general:focus{
    border: 1px solid rgba(35, 167, 224, 1);
    box-shadow: 0 0 5px rgba(35, 167, 224, 1);   
    outline: none;
}
@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){

    #header{
        height: 8rem;
    }
    

    .second_nav{
        width: 100%;
        position: relative;
        left: 0px;
        display: block;
    }

    #form-search {   
        position: absolute;
        top: 38px;
        right: 72px;
    }

    #header .logo img{
        width: 92%;
    }

    .cart_icon{
        position: absolute;
        left: 15rem;
        top: 38px;
    }

    .tm_button{
        padding: 5px 18px;
        font-size: 12px;
    }

    
    #sign_in{
        position: relative;
        left: 12rem;
    }
    .icon-search {
        bottom: 8px;
        right: 12px;
    }

    .nav-menu > ul{
        display: block;
    }
}



